<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rials Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/Contact">Rails Tutorial contact
  page</a>.
</p>